#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        lshift_symbol_mm: lshift_symbol_mm {
            compatible = "zmk,behavior-mod-morph";
            label = "LSHIFT_SYMBOL_MM";
            bindings = <&lt 2 LSHIFT>, <&kp LSHFT>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RALT|MOD_RGUI)>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RSFT|MOD_RALT|MOD_RGUI)>;
        };

        rshift_symbol_mm: rshift_symbol_mm {
            compatible = "zmk,behavior-mod-morph";
            label = "RSHIFT_SYMBOL_MM";
            bindings = <&lt 2 RSHIFT>, <&kp RSHFT>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RALT|MOD_RGUI)>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RSFT|MOD_RALT|MOD_RGUI)>;
        };

        h_t: h_t {
            compatible = "zmk,behavior-hold-tap";
            label = "H_T";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        qw1 {
            bindings = <&kp N1>;
            key-positions = <1 2>;
            layers = <0>;
        };

        we2 {
            bindings = <&kp N2>;
            key-positions = <2 3>;
            layers = <0>;
        };

        re3 {
            bindings = <&kp N3>;
            key-positions = <3 4>;
            layers = <0>;
        };

        as4 {
            bindings = <&kp N4>;
            key-positions = <14 15>;
            layers = <0>;
        };

        sd5 {
            bindings = <&kp N5>;
            key-positions = <15 16>;
            layers = <0>;
        };

        df6 {
            bindings = <&kp N6>;
            key-positions = <16 17>;
            layers = <0>;
        };

        zx7 {
            bindings = <&kp N7>;
            key-positions = <29 30>;
            layers = <0>;
        };

        xc8 {
            bindings = <&kp N8>;
            key-positions = <30 31>;
            layers = <0>;
        };

        cv9 {
            bindings = <&kp N9>;
            key-positions = <31 32>;
            layers = <0>;
        };

        jk0 {
            bindings = <&kp N0>;
            key-positions = <23 24>;
            layers = <0>;
        };

        io {
            bindings = <&kp MINUS>;
            key-positions = <9 10>;
            layers = <0>;
        };

        op {
            bindings = <&kp EQUAL>;
            key-positions = <10 11>;
            layers = <0>;
        };

        up_io {
            bindings = <&kp UNDER>;
            key-positions = <9 10>;
            layers = <2>;
        };

        up_op {
            bindings = <&kp PLUS>;
            key-positions = <10 11>;
            layers = <2>;
        };

        kl {
            bindings = <&kp LBKT>;
            key-positions = <24 25>;
            layers = <0>;
        };

        lsc {
            bindings = <&kp RBKT>;
            key-positions = <25 26>;
            layers = <0>;
        };

        up_kl {
            bindings = <&kp LBRC>;
            key-positions = <24 25>;
            layers = <2>;
        };

        up_lsc {
            bindings = <&kp RBRC>;
            key-positions = <25 26>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB            &kp Q  &kp W  &kp E     &kp R             &kp T                              &kp UP                &kp Y  &kp U      &kp I           &kp O    &kp P     &kp BSPC
&kp CAPS           &kp A  &kp S  &kp D     &kp F             &kp G                    &kp LEFT  &kp RSHFT  &kp RIGHT  &kp H  &kp J      &kp K           &kp L    &kp SEMI  &kp SQT
&lshift_symbol_mm  &kp Z  &kp X  &kp C     &kp V             &kp B      &kp C_MUTE              &kp DOWN              &kp N  &kp M      &kp COMMA       &kp DOT  &kp FSLH  &rshift_symbol_mm
                                 &kp LGUI  &h_t LSHFT SPACE  &kp LCTRL                                                &to 1  &kp ENTER  &h_t RALT BSLH
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3     &kp N4     &kp N5                            &mmv MOVE_UP                     &none  &kp N7    &kp N8    &kp N9     &kp N0     &kp BSLH
&trans     &none   &none   &mkp MB4   &mkp MB5   &kp N6            &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &none  &none     &kp UP    &none      &kp MINUS  &kp EQUAL
&kp LSHFT  &none   &none   &mkp MCLK  &mkp RCLK  &none   &trans                    &mmv MOVE_DOWN                   &none  &kp LEFT  &kp DOWN  &kp RIGHT  &none      &kp RSHFT
                           &trans     &kp LBKT   &trans                                                             &to 0  &kp RBKT  &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&kp TILDE  &kp EXCL  &kp AT    &kp HASH  &kp DLLR   &kp PRCNT                            &mmv MOVE_UP                     &none    &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR   &kp PIPE
&trans     &none     &none     &kp UP    &none      &kp CARET            &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &none    &none     &none      &none     &kp COLON  &kp DQT
&trans     &none     &kp LEFT  &kp DOWN  &kp RIGHT  &none      &trans                    &mmv MOVE_DOWN                   &none    &none     &kp LT     &kp GT    &kp QMARK  &trans
                               &trans    &trans     &trans                                                                &kp ESC  &kp DEL   &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&studio_unlock  &kp F1      &kp F2     &kp F3       &kp F4     &kp F5                              &mmv MOVE_UP                     &kp F6       &kp F7     &kp F8       &kp F9      &kp F10          &kp F11
&trans          &trans      &mkp LCLK  &mkp MCLK    &mkp RCLK  &mkp MB4            &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &bootloader  &mkp LCLK  &mkp MCLK    &mkp RCLK   &kp PRINTSCREEN  &kp F12
&trans          &sys_reset  &trans     &bootloader  &trans     &mkp MB5  &trans                    &mmv MOVE_DOWN                   &trans       &trans     &bootloader  &sys_reset  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                       &trans       &trans     &trans                                                               &trans       &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
